.DS_Store
node_modules
/dist
/client_teacher/node_modules
/client_teacher/unpackage
/client_student/node_modules
/client_student/unpackage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*